h3{
    font-family: 'Playfair Display SC', serif;
    color: rgba(241, 241, 241, 0.966);
}

@media only screen and (min-width:650px){
 h1{
     font-size: 75px;
 }
}

 @media only screen and (min-width:860px){
    .navbar{
        position:absolute;
        width:100%;
        z-index:10;
     
    }
}

.phone{
    width: 34.5%;
}
hr{
    margin: 1.5rem 0;
    color: white;
    background-color:rgb(255, 255, 255);
    border: 0;
    opacity: 0.55;
  }
h2{
    text-align: center;
    padding-bottom: 15px;
 
}
h6{
    color: rgb(194, 194, 194);
    font-size: 10px;
}
    h2{
        color: azure;
        font-family: 'Prata', serif;
    }
    p{
        font-family: 'Inder', sans-serif; line-height: 25px; margin-bottom: 15px; color: #666;
        color: rgb(214, 214, 214);
    }
    h5{
        color: rgb(82, 82, 82);
       
    }
    span{
        color: rgb(156, 156, 156);
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-shadow: 6px 3px 3px #161616f1,
     
    }
    .citat{
        background-color: rgba(36, 36, 36, 0.11);
        border-radius: 1.5rem;
       
    }
    body{
      background-color: rgba(1, 0, 7, 0.979);
    }
    .carousel-caption{
        transform: translateY(-50%);
        bottom: initial;
        top: 50%;
    }
    .row{
        background-color: rgba(255, 255, 255, 0.918);
       border-radius: 1.5rem;
    }
    .row p{
       
        color: rgb(29, 29, 29);
        font-size: 20px;
    }
    .row h2{
        color: rgb(10, 10, 10);
        font-size: 200%;
    }
    h1{
    
    text-shadow: 6px 3px 3px #161616f1,
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: rgb(245, 245, 245);
       
    }
    
 
   .facebook{
       text-align: center;
    
    
   }
   .vlad{
       margin-bottom: 30px;
   }
   .instagram:hover{
       opacity: 0.8;
       transition:all 0.33s ease-out;
   }
   .facebook:hover{
    opacity: 0.8;
    transition:all 0.33s ease-out;
}